<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결과 확인</title>
    <style>
      .box {
        padding: 10px;
        margin: 5px;
        border: 1px solid gray;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px lightgray;
      }
      span {
        font-weight: bold;
      }
      .name,
      .num {
        color: orange;
        font-weight: bold;
      }
      .color {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>결과 확인하기</h1>
    <h3><span class="name num"><%=memInfo2.yourName%></span>님 환영합니다!</h3>
    <div class="box"><%=memInfo2.sex%></div>
    <div class="box">
      <%=memInfo2.birYear%>/<%=memInfo2.birMonth%>/<%=memInfo2.birDate%>
    </div>
    <div class="box"><%=memInfo2.interest%></div>

    <hr />
    <h3>다른 태그 작성해보기</h3>
    <p>좋아하는 색깔: <span class="color"><%=memInfo2.color%></span></p>
    <p>좋아하는 숫자: <span class="name num"><%=memInfo2.number%></span></p>

    <br />
    <a href="/">홈으로 이동하기</a>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const coloring = document.querySelector(".color");
        coloring.style.color = "<%=memInfo2.color %>";
      });
    </script>
  </body>
</html>
